.form-container {
    padding: 18px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    background-color: #fff;
    height:auto;
    width: auto;
    box-shadow: 2px 3px 10px 6px rgba(0,0,0 30%);
}
.input-pri {
    height: 45px;
    width: 500px;
    border-bottom: 2px solid var(--cor-primary);
    border-top: 0;border-left:0;
    border-right: 0;
    color: var(--cor-primary);
    border-radius:0;
    font-size: 16px;

}
.input-pri:hover{
    border: 2px solid var(--cor-primary);
    border-radius: 4px;
}
.input-pri:target:focus-visible:active {
    border: 2px solid var(--cor-primary);
    border-radius: 4px;

}